USE [auto-deal-system-db]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 20.05.2025 13:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 20.05.2025 13:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CarId] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Comment] [nvarchar](max) NULL,
	[Type] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 20.05.2025 13:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarPhotos]    Script Date: 20.05.2025 13:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarPhotos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CarId] [int] NULL,
	[PhotoPath] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__CarPhoto__3214EC070FAF8F7A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 20.05.2025 13:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Year] [int] NULL,
	[BodyType] [nvarchar](50) NULL,
	[Transmission] [nvarchar](50) NULL,
	[FuelType] [nvarchar](50) NULL,
	[Price] [money] NULL,
	[Mileage] [int] NULL,
	[VIN] [nvarchar](50) NULL,
	[Equipment] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[BranchId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 20.05.2025 13:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[BranchId] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellRequestPhotos]    Script Date: 20.05.2025 13:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellRequestPhotos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SellRequestId] [int] NULL,
	[PhotoPath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellRequests]    Script Date: 20.05.2025 13:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Year] [int] NULL,
	[Mileage] [int] NULL,
	[Phone] [nvarchar](20) NULL,
	[Comment] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 20.05.2025 13:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](255) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Username], [PasswordHash]) VALUES (1, N'admin', N'123')
INSERT [dbo].[Admins] ([Id], [Username], [PasswordHash]) VALUES (1005, N'test', N'123')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([Id], [CarId], [Name], [Phone], [Comment], [Type], [CreatedAt], [Status]) VALUES (1, 1, N'Денис', N'89776201273', N'123', N'покупка', CAST(N'2025-04-16T14:24:22.790' AS DateTime), N'Отклонено')
INSERT [dbo].[Applications] ([Id], [CarId], [Name], [Phone], [Comment], [Type], [CreatedAt], [Status]) VALUES (2, 1, N'1', N'2', N'3', N'покупка', CAST(N'2025-04-16T14:29:26.510' AS DateTime), N'Новый')
INSERT [dbo].[Applications] ([Id], [CarId], [Name], [Phone], [Comment], [Type], [CreatedAt], [Status]) VALUES (3, 1, N'6РПЕ', N'89776201377', N'Д', N'покупка', CAST(N'2025-04-16T15:17:29.760' AS DateTime), N'Отклонено')
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([Id], [Name], [Address], [Phone], [Email], [Description], [CreatedAt]) VALUES (1, N'Центральный', N'Москва, ул. Ленина, д. 1', N'+7 (999) 123-45-67', N'central@auto-deal.com', N'Основной филиал', CAST(N'2025-05-20T12:24:47.637' AS DateTime))
INSERT [dbo].[Branches] ([Id], [Name], [Address], [Phone], [Email], [Description], [CreatedAt]) VALUES (2, N'Южный', N'Санкт-Петербург, пр. Победы, д. 10', N'+7 (999) 987-65-43', N'south@auto-deal.com', N'Филиал в Санкт-Петербурге', CAST(N'2025-05-20T12:24:47.637' AS DateTime))
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
SET IDENTITY_INSERT [dbo].[CarPhotos] ON 

INSERT [dbo].[CarPhotos] ([Id], [CarId], [PhotoPath]) VALUES (1, 1, N'images/cars/Screenshot_1.png')
INSERT [dbo].[CarPhotos] ([Id], [CarId], [PhotoPath]) VALUES (2, 1, N'images/cars/Screenshot_2.png')
INSERT [dbo].[CarPhotos] ([Id], [CarId], [PhotoPath]) VALUES (3, 1, N'images/cars/Screenshot_3.png')
SET IDENTITY_INSERT [dbo].[CarPhotos] OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([Id], [Brand], [Model], [Year], [BodyType], [Transmission], [FuelType], [Price], [Mileage], [VIN], [Equipment], [Status], [CreatedAt], [BranchId]) VALUES (1, N'Toyota', N'Camry', 2020, N'Седан', N'Автомат', N'Бензин', 4250000.0000, 45000, N'JTNB11HK4K1234567', N'Камера, Климат-контроль, Навигация', N'Доступно', CAST(N'2025-04-16T10:13:45.153' AS DateTime), 2)
INSERT [dbo].[Cars] ([Id], [Brand], [Model], [Year], [BodyType], [Transmission], [FuelType], [Price], [Mileage], [VIN], [Equipment], [Status], [CreatedAt], [BranchId]) VALUES (2, N'BMW', N'X5', 2018, N'Внедорожник', N'Автомат', N'Дизель', 3200000.0000, 90000, N'WBAKS410800123456', N'Кожа, Панорама, HUD', N'Доступно', CAST(N'2025-04-16T10:13:45.153' AS DateTime), 2)
INSERT [dbo].[Cars] ([Id], [Brand], [Model], [Year], [BodyType], [Transmission], [FuelType], [Price], [Mileage], [VIN], [Equipment], [Status], [CreatedAt], [BranchId]) VALUES (3, N'Hyundai', N'Solaris', 2021, N'Седан', N'Механика', N'Бензин', 950000.0000, 30000, N'Z94CT41CBDR456789', N'Кондиционер, Подогрев сидений', N'Доступно', CAST(N'2025-04-16T10:13:45.153' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Position], [Phone], [Email], [BranchId], [CreatedAt]) VALUES (1, N'Иван Иванов', N'Менеджер по продажам', N'+7 (999) 111-22-33', N'ivanov@auto-deal.com', 1, CAST(N'2025-05-20T12:25:17.270' AS DateTime))
INSERT [dbo].[Employees] ([Id], [Name], [Position], [Phone], [Email], [BranchId], [CreatedAt]) VALUES (3, N'Петров Алексей', N'Менеджер по продажам', N'89776201212', N'manager@mail.ru', 1, CAST(N'2025-05-20T13:15:43.970' AS DateTime))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[SellRequests] ON 

INSERT [dbo].[SellRequests] ([Id], [Brand], [Model], [Year], [Mileage], [Phone], [Comment], [Status], [CreatedAt]) VALUES (1, N'test', N'test2', 2001, 200000, N'89776201273', N'asjhdfkjasdadfb', N'На рассмотрении', CAST(N'2025-04-16T15:33:26.653' AS DateTime))
INSERT [dbo].[SellRequests] ([Id], [Brand], [Model], [Year], [Mileage], [Phone], [Comment], [Status], [CreatedAt]) VALUES (2, N'Toyota', N'Corolla', 2015, 120000, N'+79160000001', N'Состояние отличное, не битая', N'На рассмотрении', CAST(N'2025-04-16T18:18:44.173' AS DateTime))
INSERT [dbo].[SellRequests] ([Id], [Brand], [Model], [Year], [Mileage], [Phone], [Comment], [Status], [CreatedAt]) VALUES (3, N'Hyundai', N'Solaris', 2018, 90000, N'+79160000002', N'Один владелец, ТО у дилера', N'На рассмотрении', CAST(N'2025-04-16T18:18:44.173' AS DateTime))
SET IDENTITY_INSERT [dbo].[SellRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Settings] ON 

INSERT [dbo].[Settings] ([Id], [Key], [Value]) VALUES (1, N'inactivityTimeout', N'10')
INSERT [dbo].[Settings] ([Id], [Key], [Value]) VALUES (3, N'bannerUrl', N'images/banners/becd87e7-1e8f-450e-9961-007c436e236c.png')
SET IDENTITY_INSERT [dbo].[Settings] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__536C85E48ABFD1C7]    Script Date: 20.05.2025 13:55:39 ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Settings__C41E02891B1B3A92]    Script Date: 20.05.2025 13:55:39 ******/
ALTER TABLE [dbo].[Settings] ADD UNIQUE NONCLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Branches] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Cars] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SellRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CarPhotos]  WITH CHECK ADD  CONSTRAINT [FK__CarPhotos__CarId__3A81B327] FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarPhotos] CHECK CONSTRAINT [FK__CarPhotos__CarId__3A81B327]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Branches]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Branches]
GO
ALTER TABLE [dbo].[SellRequestPhotos]  WITH CHECK ADD FOREIGN KEY([SellRequestId])
REFERENCES [dbo].[SellRequests] ([Id])
ON DELETE CASCADE
GO
